<form>
    <h1>DELETANDO UM TIPO DE ITEM</h1>
    <mat-form-field class="form">
        <mat-label>Nome:</mat-label>
        <input matInput [(ngModel)]="tipoitem.tipoItem" type="text" name="tipoItem" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição:</mat-label>
        <textarea matInput [(ngModel)]="tipoitem.descricao" type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary"> DELETAR </button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>
</form>
